.article {
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
  }
  
  .article:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .article img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.2s;
  }
  
  .article:hover img {
    transform: scale(1.05);
  }
  
  .article p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    text-align: center;
  }
  
  .prix-article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
  }
  
  .aticle-new-prix {
    font-size: 1.5rem;
    color: #ff6f61;
    font-weight: bold;
  }
  
  .article-all-prix {
    font-size: 1rem;
    color: #999;
    text-decoration: line-through;
  }
  
  /* @media (max-width: 768px) {
    .article {
      padding: 15px;
      margin: 10px;
    }
  
    .article p {
      font-size: 1rem;
    }
  
    .aticle-new-prix {
      font-size: 1.2rem;
    }
  
    .article-all-prix {
      font-size: 0.9rem;
    }
  }
   */